.gg {
    display: flex;
    height: 14px;
    margin-bottom: 11px;
}

.gg-symbol {
    height: 14px;
    width: 14px;
    background: #969696;
    margin-right: 14px;
}

.gg-symbol--2 {
    width: 56px;
}

.gg-symbol--3 {
    width: 84px;
}

.gg-symbol--5 {
    width: 140px;
}

.gg-symbol--8 {
    width: 224px;
}

.gg-symbol--disc {
    border-radius: 14px;
}